* {
  box-sizing: border-box;
}



html, body, div, a, span, img, p, select, ul, li {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  font-size: 10pt;
}

body {
  position: relative;
  clear: both;
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Noto Sans KR', sans-serif;
}

.pc_all {
  width: 1920px;
}

.mob_all {
  display: none;
}

header {
  position: relative;
  clear: both;
  width: 1400px;
  margin: 0 auto;
  height: 100px;
  /* background: pink; */

  display: flex;
  flex-flow: row nowrap;
}

  .top_left {
    position: relative;
    float: left;
    width: 400px;
    height: 100px;

    display: flex;
    flex-flow: column nowrap;
  }

      /* 좌측 상단 Global */
      .top_left_up {
        position: relative;
        float: left;
        width: 400px;
        height: 50px;
        /* background: yellow; */

        display: flex;
        flex-flow: row nowrap;
        align-items: center;
      }

            .top_left_up > select {
              appearance: none;
              outline: none;
              width: 150px;
              height: 30px;
              padding-left: 20px;
              border: solid #2b2b2b70 1px;
              background: url(./../images/expand_more.png) 93% no-repeat;  /* select 버튼 이미지 */
              border-radius: 5px;
              font-family: 'Montserrat', sans-serif;
            }

            /* 인스타그램 이미지 */
            .top_left_up a:nth-child(2) {
              margin-left: 40px;
            }

            /* 소셜 로그인 이미지 */
            .top_left_up a {
              margin-left: 20px;
            }

    /* 헤더 상단 양쪽 공백 */
      .blank {
        width: 400px;
        height: 50px;
      }

  
  .center_logo {
    position: relative;
    float: left;
    width: 600px;
    height: 100px;
    margin-top: -10px;
  }

  .top_right {
    position: relative;
    float: left;
    width: 400px;
    height: 50px;

    display: flex;
    flex-flow: column nowrap;
  }

      /* 회원가입 ~  마이페이지 */
      .link_text {
        position: relative;
        float: left;
        height: 50px;

        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: end;
        margin-top: 10px;
      }

          .link_text > a {
            color: #262626;
            margin-right: 20px;
          }

/* 메뉴바, 메인이미지 상하단 가로로 긴 공백 */
.blank_all {
  position: relative;
  clear: both;
  width: 1400px;
  margin: 0 auto;
  height: 15px;
}

/* 메뉴바 */
.menu_bar {
  position: relative;
  clear: both;
  width: 1400px;
  margin: 0 auto;
  height: 30px;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}

    .menu_bar > a {
      position: relative;
      float: left;
      width: 120px;

      text-align: center;
      color: #262626;
      font-family: 'Montserrat', sans-serif;
    }

  .main_img {
    width: 100vw;
  }

  .section_row_1 {
    width: 1400px;
    height: 480px;
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

    .section_row_1 span {
      text-align: center;
      font-size: 13pt;
      color: #262626;
    }

        .section_row_1 span:nth-child(2) {
          margin-top: 15px;
        }

    #row_title_1 {
      width: 1400px;
      margin: 0 auto;
      font-size: 30pt;
      text-align: center;
      margin-top: 100px;
      margin-bottom: 50px;
      /* background-color: pink; */
    }

    /* new 10% */
    #row_title_2 {
      width: 1400px;
      height: 100px;
      line-height: 100px;
      margin: 0 auto;
      font-size: 30pt;
      text-align: center;
      margin-top: 100px;
      margin-bottom: 50px;
      /* background-color: pink; */
    }


    .section_row_2 {
      width: 1400px;
      height: 550px;
      margin: 0 auto;
      
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }

    .row_image_2 {
      display: flex;
      flex-flow: column nowrap;

    }

      .color_row {
        display: flex;
        flex-flow: row nowrap;

        margin-top: 15px;
      }

          .color_row > img {
            margin-right: 5px;
          }

      .price_row {
        height: 30px;
        line-height: 30px;
        display: flex;
        flex-flow: row nowrap;
        margin-bottom: 5px;
      }

          .price_row span {
            margin-right: 10px;
          }

          .price_text {
            padding-bottom: 5px;
            font-size: 13pt;
            font-weight: 600;
          }

          .discount_text {
            margin-right: 0px; /*불필요한 우측 마진 제거*/
            font-size: 12pt;
            font-weight: 600;
            color: rgb(255, 132, 0);
          }

      .section_row_2 span {
        color: #262626;
      }

      .product_name {
        margin-top: 25px;
        font-size: 11pt;
        font-weight: 500;
      }

      .size_text > span {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 9pt;
        color: #ababab;
      }

  .main_img_2 {
    width: 1400px;
    height: 500px;
    margin: 0 auto;
    margin-top: 100px;
    /* margin-bottom: 100px; */
    background-color: pink;
  }
      


/* 모바일 화면 시작 */

@media all and (max-width: 800px) {

  .pc_all {
    display: none;
  }
  
  .mob_all {
    display: flex;
    flex-flow: column nowrap;

    width: 100vw;
    height: auto;
    overflow: hidden;
  }

  header {
    width: 340px;
    height: 240px;
    margin: 0 auto;
    margin-bottom: 15px;
    display: flex;
    flex-flow: column nowrap;
  }


      .m_top_row_1 {
        position: relative;
        clear: both;
        width: 340px;
        margin: 0 auto;
        height: 30px;

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        /* background-color: aqua; */
      }

        .m_top_row_1 > select {
          appearance: none;
          outline: none;
          width: 90px;
          height: 25px;
          padding-left: 5px;
          border: solid #2b2b2b70 1px;
          background: url(./../images/expand_more.png) 93% no-repeat;  /* select 버튼 이미지 */
          border-radius: 5px;
          font-family: 'Montserrat', sans-serif;
          font-size: 12px;
          color: #262626;
        }

          .m_icon_box {
            width: 85px;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
          }


        #m_logo {
          position: relative;
          clear: both;
          width: 340px;
          height: 80px;

          display: flex; /*로고 가운데 정렬 */
          flex-flow: column nowrap;
          align-items: center;
          justify-content: center; 
        }

        .m_menu_bar_1 {
          width: 340px;
          height: 40px;
          background-color: rgb(252, 246, 239);

          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: space-around;
        }

            .m_menu_bar_1 li {
              width: 80px;
              font-size: 10pt;
              font-family: 'Noto Sans KR', sans-serif;
              text-align: center;
              color: #262626;
              /* background-color: red; */
            }

        .m_menu_bar_2 {
          width: 340px;
          height: 90px;
          margin-top: 15px;
          display: flex;
          flex-flow: row wrap;
        }

            .m_menu_bar_2 li {
              width: 113px;
              height: 30px;
              line-height: 30px;
              /* background-color: aquamarine; */

              text-align: center;
              color: #262626;
              font-size: 12px;
              /* font-weight: 600; */
              font-family: 'Montserrat', sans-serif;
            }

              .m_menu_bar_2 > a:nth-child(1) > li {
                color: rgb(215, 0, 0);
              }

              .m_menu_bar_2 > a:nth-child(4) > li {
                color: rgb(190, 131, 190);
              }

      .m_main_img {
        position: relaitve;
        clear: both;
      }
      
        .m_main_img > img {
          width: 100vw;
          overflow: hidden;
        }
        
        .m_title {
          position: relative;
          clear: both;
          width: 340px;
          height: 100px;
          margin: 0 auto;
          line-height: 100px;
          text-align: center;
          letter-spacing: 0.1em;
        }

        .m_product_box {
          width: 340px;
          height: 400px;
          /* background-color: pink; */
          margin: 0 auto;

          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
        }

          .m_product_row {
            display: flex;
            flex-flow: column nowrap;
          }
            .m_product_row span {
              color: #262626;
            }

      .product_name {
        width: 160px;
        margin-top: 15px;
        font-size: 0.9em;
        font-weight: 600;
      }

      .size_text > span {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 9pt;
        color: #ababab;
      }

      /* 정가, 할인가, 할인율 포함 */
      .m_price_row {
        width: 160px;
        height: 20px;
        
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-bottom: 5px;
      }

        .m_price_row span{
          width: 60px;
          height: 20px;
        }

        .m_price_row span del {
          font-size: 12px;
        }
      
          .price_text {
            height: 20px;
            font-size: 13px;
            font-weight: 600;
          }

          .discount_text{
            width: 40px;
            height: 20px;
            line-height: 20px;
            margin-right: 0px; /*불필요한 우측 마진 제거*/
            font-size: 15px;
            font-weight: 600;
            color: rgb(255, 132, 0);
            top: -3px;
          }


      .m_main_img_2 {
        position: relative;
        clear: both;

        margin-bottom: 30px;
      }
      
        .m_main_img_2 > img {
          width: 100vw;
          overflow: hidden;
        }

























}